@model IEnumerable<EduPortal.Logic.DTOs.SharedDTO.MaterialDTO>
@foreach (var material in Model)
{
    <div class="p-2 border rounded mb-2 d-flex justify-content-between align-items-center">
        <span>@material.MaterialName (@material.MaterialType)</span>
        <button type="button" class="btn btn-sm btn-outline-success"
                onclick="addExistingMaterial(this)"
                data-id="@material.MaterialId"
                data-name="@material.MaterialName"
                data-type="@((int)material.MaterialType)"
                data-title="@material.BookTitle"
                data-author="@material.Author"
                data-duration="@material.Duration"
                data-url="@material.ResourceUrl"
			    data-year="@material.PublicationYear"
                data-format="@material.Format"
                data-filepath="@material.FilePath"
                data-pages="@material.NumberOfPages"
                data-quality="@material.Quality" data-testid = "addMaterial-@material.MaterialName">
            Add to Course
        </button>
    </div>
}